
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/static/css/simplemde.min.css" />
    <link rel="stylesheet" href="~/static/css/accounts.css" />
    <link rel="stylesheet" href="~/static/css/app.css" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <title>Login in</title>
</head>
<body>

    <div class="container">
        <h1 class="text-center logo my-4">
        Login in
        </h1>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Log In</h3>
                        <form method="post" novalidate>
                            <input type="hidden">
                            <input type="hidden" name="next" value="">
                            <div class="form-group">
                                <label for="id_username">用户名:</label>
                                <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" class="form-control " required id="id_username">


                            </div>

                            <div class="form-group">
                                <label for="id_password">密码:</label>
                                <input type="password" name="password" autocomplete="current-password" class="form-control " required id="id_password">


                            </div>

                            <button type="submit" class="btn btn-primary btn-block">Log In</button>
                        </form>
                    </div>
                    <div class="card-footer text-muted text-center">
                        New Account? <a href="/Home/Register">Sign Up</a>
                    </div>
                </div>
                <div class="text-center py-2">
                    <small>
                        <a href="/" class="text-muted">Forgot Your Password?</a>
                    </small><br />
                    <small>
                        <a href="/Home/Update/4" class="text-muted">ChangeYourInfo</a>
                    </small>
                    <br />
                    <small>
                        <p class="text-muted" style="color: rebeccapurple;">@ViewBag.msg</p>
                    </small>
                </div>
            </div>
        </div>

    </div>

    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
</body>
</html>
