
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div> 
        <h1>Login</h1>
        <form method="post">
            <input type="text" required="required" placeholder="用户名" name="user"></br>
            <input type="password" required="required" placeholder="密码" name="password"></br>
            <button type="submit">登录</button>
            @ViewBag.msg
        </form>
    </div>
</body>
</html>
